<form [formGroup]="form">


<mat-card [style.overflow]="'auto'" [style.height.px]="'500'">


    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Hospial ID</mat-label>
      <input matInput [formControl]="HospitalIDControl" type="number" placeholder="HospitalID" />
  
    </mat-form-field>
    <br>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Name</mat-label>
      <input matInput [formControl]="NameControl" type="text" placeholder="Name" />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Location</mat-label>
  
      <input matInput [formControl]="LocationControl" type="text" placeholder="Location" />
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Address</mat-label>
  
      <input matInput [formControl]="AddressControl" type="text" placeholder="Address" />
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Contact Number</mat-label>
      <input matInput [formControl]="ContactNumberControl" type="text" placeholder="ContactNumber" />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="EmailControl" type="text" placeholder="Email" />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Coordinates</mat-label>
      <input matInput [formControl]="CoordinatesControl" type="text" placeholder="Coordinates" />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Details</mat-label>
      <textarea matInput [formControl]="DetailsControl" type="text" placeholder="Details"></textarea>
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Services</mat-label>
  
      <textarea matInput [formControl]="ServicesControl" type="textarea" placeholder="Services"></textarea>
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Rating</mat-label>
      <input matInput [formControl]="RatingControl" type="number" placeholder="Rating" />
  
    </mat-form-field>
  
    <!-- <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Image</mat-label>
      <input matInput [formControl]="image" type="text" placeholder="image" />
  
  
    </mat-form-field> -->
  
  
    <input mat-raised-button color="primary" type="file" (change)="sanitizeUpload($event.target.files)" placeholder="Upload">
    <br>
    <br>
    <button class="fullwidthButton" mat-raised-button color="primary" [disabled]="!form.valid" (click)="checkUpload()">Add</button>
  </mat-card>

</form>