table {
    width: 100%;
   
  }

.centerme{
    margin: auto;
  width: 50%;
}

.bigbutton{
    height: 50px;
}

.date{
    width : 30% !important;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
