
<div *ngIf="form.errors" class="alert alert-danger">The username or password is invalid.</div>
<mat-card class="loginCard"> 
<form [formGroup]="form" (ngSubmit)="login()" >

      <mat-form-field appearance="outline" class="logininput">
       
        <mat-label>Username</mat-label>
        <input formControlName="username" class="logininput" matInput placeholder="Username">
        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
        <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
            
            <div *ngIf="username.errors.required">Username is required.</div>
            <div *ngIf="username.errors.minlength">Minimum Length is {{ username.errors.minlength.requiredLength}}</div>
            <div *ngIf="username.errors.cannotContainSpace">Username cannot contain space</div>
            <div *ngIf="username.errors.shouldBeUnique">Username has already been taken.</div>
          </div>
      </mat-form-field>
    <p>
        <mat-form-field appearance="outline" class="logininput">
            <mat-label>Password</mat-label>
            <input type="password" class="logininput" formControlName="password" matInput placeholder="Password">
            
          </mat-form-field>
    </p>
     
      <p><button type="submit" class="fullwidth"  mat-raised-button color="primary">Login</button></p>
      
     
    
</form>
<p><button type="button" class="fullwidth" mat-button (click)="onCreate()"><mat-icon>create</mat-icon> Sign Up</button></p>
<p><button mat-button (click)="ResetPass()" class="fullwidth">Reset Password</button></p>
<p><button type="button" class="fullwidth" routerLink="" mat-button ><mat-icon>arrow_back</mat-icon> Back</button></p>

</mat-card>
