<form [formGroup]="form" (ngSubmit)="onResetPass()">


  <mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Email</mat-label>
      <input matInput type="email" [formControl]="email"  placeholder="email">
     


    </mat-form-field>
    <br>




    <button mat-raised-button color="primary" class="fullwidthButton" [disabled]="!form.valid" type="submit" >Reset</button> 
    <br>
    <button
      mat-flat-button mat-dialog-close class="fullwidthButton">Cancel</button>


  </mat-card>
</form>