<!-- 
<mat-toolbar color="primary">
  

  <mat-toolbar-row>
   
    <span>PROV-H</span>
    <span class="example-spacer"></span>
    
    
    
    
    <ng-container *ngIf="userService.isLoggedIn">
        <a routerLink="/profile">Welcome, {{userService.user.firstName}} {{userService.user.lastName}}</a><button mat-icon-button (click)="logout()"><mat-icon class="example-icon">power_settings_new</mat-icon></button> 
    </ng-container>
   
  </mat-toolbar-row>
</mat-toolbar> -->
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">PROV-H LOCATOR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ng-container *ngIf="!userService.isLoggedIn">
      <ul class="navbar-nav mr-auto navbar-right">
        <li class="nav-item active">
          <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#aboutus">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">FEATURES</a>
        </li>
   
      </ul>
      
          <a routerLink="/login" class="nav-link loginLink">Login</a>
      </ng-container>
      
      <ng-container *ngIf="userService.isLoggedIn">
        
          <a class="ml-auto" style="color:white;" routerLink="/profile">Welcome, {{userService.user.firstName}} {{userService.user.lastName}}</a><button mat-icon-button (click)="logout()"><mat-icon class="example-icon">power_settings_new</mat-icon></button> 
      </ng-container>
      
    </div>
  </nav>

  <main role="main" class="containerme">
    <div class="pushbot"></div>
    <router-outlet ></router-outlet>

  </main>


  


