
<mat-toolbar color="primary">
  

  <mat-toolbar-row>
      <button mat-button  (click)="sidenav.toggle()"><mat-icon class="example-icon">menu</mat-icon></button>
    <span>PROV-H</span>
    <span class="example-spacer"></span>
    
    
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container" >
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sideNav">         
      <button *ngIf="userService" mat-button color="primary" class="linkButton" routerLink="home" (click)="logout()">Log out <span class="example-spacer"></span><mat-icon>home</mat-icon></button>
      <!-- <p><button *ngIf="userService.isAdmin" mat-button color="primary" class="linkButton" routerLink="home">Admin <span class="example-spacer"></span></button></p> -->
          <!-- <p><button *ngIf="userService" mat-button color="primary" class="linkButton" routerLink="home" (click)="logout()">Logout <span class="example-spacer"></span></button></p> -->
          
          
      
    
    </mat-sidenav>
  
    <mat-sidenav-content >
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  
  


