table {
    width: 100%;
   
  }

.marginme{
    margin-left: 20px;
    margin-right: 20px;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-form-field.date{
  width: 30%;
}
th.mat-sort-header-sorted {
    color: black;
  }

  .chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 50vw;
  }
  