<mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [(ngModel)]="firstName" placeholder="First Name">
  
    </mat-form-field>
    <br>
  
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Middle Name</mat-label>
      <input matInput [(ngModel)]="middleName" placeholder="Middle Name" type="text" required />
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Last Name</mat-label>
  
      <input matInput [(ngModel)]="lastName" placeholder="Last Name" type="text" required />
  
  
    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="address" type="text" placeholder="Address" required />
    
    
    
      </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>User Name</mat-label>
  
      <input matInput [(ngModel)]="userName" placeholder="Username" type="text" required />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Email</mat-label>
      <input matInput [(ngModel)]="email" type="email" placeholder="Email" required />
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="password" placeholder="Password" type="password" required />
  
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Re-type Password</mat-label>
      <input matInput [(ngModel)]="password" placeholder="Re-type Password" type="password" required />
  
  
  
  
    </mat-form-field>

    <mat-radio-group class="example-radio-group fullwidth" [(ngModel)]="genderControl">
        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-radio-button>
    </mat-radio-group>
    

    <mat-button-toggle-group  #group="matButtonToggleGroup" (change)="onValChange(group.value)">
        <mat-button-toggle value="left">
          <p>Admin</p>
          <mat-icon>adb</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="true">
          <p>Hospital Member</p>
          <mat-icon>local_hospital</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="false">
          <p>User</p>
          <mat-icon>wc</mat-icon>
        </mat-button-toggle>
       
      </mat-button-toggle-group>
      
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Birth Date</mat-label>
      <input matInput [(ngModel)]="date" type="date" placeholder="Birth Date" required />
  
  
  
    </mat-form-field>
  
  
      <mat-form-field>
          <mat-select placeholder="Blood Type" [formControl]="bloodControl"  (selectionChange)="selected($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let animal of bloods" [value]="animal">
              {{animal.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="animalControl.hasError('required')">Blood Type</mat-error>
          <mat-hint>{{animalControl.value?.sound}}</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Hospital Member" [formControl]="hopsitalFormControl" (selectionChange)="selectedHospital($event)" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of hospitals" [value]="animal">
                {{animal.Name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="animalControl.hasError('required')">Choose Hospital</mat-error>
            <mat-hint>{{animalControl.value?.sound}}</mat-hint>
          </mat-form-field>
  
    
  
  
  
          <button mat-raised-button color="primary" class="halfwidth" (click)="onUpdate()">Update</button> <button mat-flat-button
          mat-dialog-close class="halfwidth">Cancel</button>
  
  </mat-card>
 
 