<form [formGroup]="form" (ngSubmit)="onUpdate()">
<mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [formControl]="firstNameControl" placeholder="First Name">
  
    </mat-form-field>
    <br>
  
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Middle Name</mat-label>
      <input matInput [formControl]="middleNameControl" placeholder="Middle Name" type="text" required />
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Last Name</mat-label>
  
      <input matInput [formControl]="lastNameControl" placeholder="Last Name" type="text" required />
  
  
    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
        <mat-label>Address</mat-label>
        <input matInput [formControl]="addressControl" type="text" placeholder="Address" required />
    
    
    
      </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>User Name</mat-label>
  
      <input matInput [formControl]="userNameControl" placeholder="Username" type="text" required />
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailControl" type="email" placeholder="Email" required />
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordControl" placeholder="Password" type="password" required />
  
  
  
  
    </mat-form-field>
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Re-type Password</mat-label>
      <input matInput [formControl]="retypepasswordControl" placeholder="Re-type Password" type="password" required />
  
  
  
  
    </mat-form-field>

    <mat-radio-group class="example-radio-group fullwidth" [formControl]="genderControl">
        <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
          {{gender}}
        </mat-radio-button>
    </mat-radio-group>
    
    <ng-container *ngIf="userService.user.admin">

    
    <mat-button-toggle-group  #group="matButtonToggleGroup" [value]="memberType" (change)="onValChange(group.value)">
        <mat-button-toggle value="left">
          <p>Admin</p>
          <mat-icon>adb</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="true">
          <p>Hospital Member</p>
          <mat-icon>local_hospital</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="false">
          <p>User</p>
          <mat-icon>wc</mat-icon>
        </mat-button-toggle>
       
      </mat-button-toggle-group>
    </ng-container>
      
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Birth Date</mat-label>
      <input matInput [formControl]="dateControl" type="date" placeholder="Birth Date" required />
  
  
  
    </mat-form-field>
  
  
      <mat-form-field>
          <mat-select placeholder="Blood Type" [formControl]="bloodControl"  (selectionChange)="selected($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let animal of bloods" [value]="animal">
              {{animal.name}}
            </mat-option>
          </mat-select>
          
        </mat-form-field>

        <ng-container *ngIf="userService.user.admin">

        <mat-form-field>
            <mat-select placeholder="Hospital Member" [formControl]="hospitalFormControl" (selectionChange)="selectedHospital($event)" >
              <mat-option>--</mat-option>
              <mat-option *ngFor="let animal of hospitals" [value]="animal">
                {{animal.Name}}
              </mat-option>
            </mat-select>
            
          </mat-form-field>

        </ng-container>
  
    
  
  
  
          <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" class="halfwidth" >Update</button> <button mat-flat-button
          mat-dialog-close class="halfwidth">Cancel</button>
  
  </mat-card>
</form>
 