<form [formGroup]="form" (ngSubmit)="onSignUp()">


  <mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>First Name</mat-label>
      <input matInput type="text" [formControl]="firstNameControl"  placeholder="First Name">
      <mat-error *ngIf="firstNameControl.hasError('minlength')">
          Minimum length is {{firstNameControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="firstNameControl.hasError('required')">
          First name is <strong>required</strong>
      </mat-error>


    </mat-form-field>
    <br>


    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Middle Name</mat-label>
      <input matInput [formControl]="middleNameControl"  placeholder="Middle Name" type="text" required />
      <mat-error *ngIf="middleNameControl.hasError('minlength')">
          Minimum length is {{middleNameControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="middleNameControl.hasError('required')">
          Middle name is <strong>required</strong>
      </mat-error>


    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Last Name</mat-label>

      <input matInput [formControl]="lastNameControl"  placeholder="Last Name" type="text" required />
      <mat-error *ngIf="lastNameControl.hasError('minlength')">
          Minimum length is {{lastNameControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="lastNameControl.hasError('required')">
          Last name is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Address</mat-label>
      <input matInput [formControl]="addressControl"  type="text" placeholder="Address" required />
      <mat-error *ngIf="addressControl.hasError('minlength')">
          Minimum length is {{addressControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="addressControl.hasError('required')">
          Address name is <strong>required</strong>
      </mat-error>


    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>User Name</mat-label>

      <input matInput [formControl]="userNameControl"  placeholder="Username" type="text" required />
      <mat-error *ngIf="userNameControl.hasError('minlength')">
          Minimum length is {{userNameControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="userNameControl.hasError('required')">
          Username is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailControl" type="email" placeholder="Email" required />
      <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
          Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailControl.hasError('required')">
          Email is <strong>required</strong>
      </mat-error>

    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Password</mat-label>
      <input matInput [formControl]="passwordControl"  placeholder="Password" type="password" required />
      <mat-error *ngIf="addressControl.hasError('minlength')">
          Minimum length is {{addressControl.errors.minlength.requiredLength}}
      </mat-error>
      <mat-error *ngIf="addressControl.hasError('required')">
          Address name is <strong>required</strong>
      </mat-error>




    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Re-type Password</mat-label>
      <input matInput [formControl]="retypepasswordControl"  placeholder="Re-type Password" type="password" required />

      <mat-error *ngIf="retypepasswordControl.hasError('passwordMatch')">
          Password does not match
      </mat-error>


    </mat-form-field>

    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Birth Date</mat-label>
      <input matInput [formControl]="dateControl"  type="date" placeholder="Birth Date" required />



    </mat-form-field>

    <mat-radio-group class="example-radio-group fullwidth" [formControl]="genderControl">
            <mat-radio-button class="example-radio-button" *ngFor="let gender of genders" [value]="gender">
              {{gender}}
            </mat-radio-button>
    </mat-radio-group>


    <mat-form-field>
      <mat-select placeholder="Blood Type" [formControl]="bloodControl" (selectionChange)="selected($event)">
        <mat-option>--</mat-option>
        <mat-option *ngFor="let animal of bloods" [value]="animal">
          {{animal.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="bloodControl.hasError('required')">Blood Type</mat-error>
     
    </mat-form-field>




    <button mat-raised-button color="primary" class="fullwidthButton" [disabled]="!form.valid" type="submit" >Add</button> 
    <br>
    <button
      mat-flat-button mat-dialog-close class="fullwidthButton">Cancel</button>


  </mat-card>
</form>

<p></p>