<form [formGroup]="form" (ngSubmit)="onUpdate()">


    <mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    
    
    
    
    
            <mat-form-field>
                <mat-select placeholder="Doctor" formControlName="doctorControl" (selectionChange)="selectedDoctor($event)" >
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let animal of doctorsList" [value]="animal">
                    {{animal.firstName}} {{animal.lastName}}: {{animal.service}}
                  </mat-option>
                </mat-select>
                <!-- <mat-error *ngIf="hopsitalFormControl.hasError('required')">Choose Time</mat-error>
                <mat-hint>{{animalControl.value?.sound}}</mat-hint> -->
              </mat-form-field>
    
      
    
    
    
    
    
    </mat-card>
    <p></p>
    <button mat-raised-button color="primary" class="halfwidth" type="submit" [disabled]="!form.valid">Update</button> <button mat-flat-button
      mat-dialog-close class="halfwidth">Cancel</button>
    
    </form>