<div class="bg">


  <div class="title">
    <p>PROV-<span style="color: red;">H</span>LOCATOR</p>
  </div>


</div>
<div class="containermodules">





  <div class="row containermodules" id="aboutus">
    <div class="col col-md-2">
      <div class="centerme">
        <h1><span style="color : black;">ABOUT</span></h1>
        <h1><span style="color: red;">US</span></h1>
      </div>


    </div>
    <div class="col col-md-6">
      <div class="containermodules">
        <div class="centerme" style="width: 100%;">
          <p class="fonter">Hello! , We are the LGNDS bonafide Fourth Year students in Bachelor of Science in
            Information Technology from
            Jose Rizal University who were currently enrolled in IT Project 2.</p>
          <p class="fonter">
            The major requirement of this course is to come up with a system that can possibly address any problem that
            is
            currently being experienced by society. We, the Team LGNDS came up with a system proposal entitled “PROV: H
            –
            Locator: A Hospital Finder for Specific Needs and Services”. It is our main goal in this study that we will
            be
            able to generate a system that can help the entire people of Metro Manila in finding the best hospital for
            their specific needs.
          </p>
          <p class="fonter">
            With this, we are respectfully introducing to you the “PROV: H – Locator”. The best hospital finder that
            capable on helping you and your future needs.

            “The power of community to create health is far greater than any physician, clinic or hospital.” – Mark
            Hyman</p>
        </div>
      </div>


    </div>
    <div class="col col-md-4">
      <div class="containermodules">

        <img class="centerme" src="assets/aboutus.jpg" width="300" height="300">
      </div>

    </div>

  </div>

</div>

<div class="containermodules bg-darkgreen">
  <div class="row" id="services">
    <div class="col col-md-2">
      <div class="centerme">
        <h1><span style="color : black;">WEBSITE</span></h1>
        <h1><span style="color: white;">FEATURES</span></h1>
      </div>


    </div>
    <div class="col col-md-10">
      <div class="row">
        <div class="col col-md-6">
          <div class="row">
            <br>
            <div class="col col-md-2">
              <br />
              <i class="fas fa-map-marker-alt" style="font-size: 80px;"></i>
            </div>
            <div class="col col-md-10">
              <br />
              <h2>Hospital Locator</h2>
              <p>PROV: H – Locator will provide you the map for you to locate the best hospital that you can choose
                from.
                In doing that, you need to choose the “Hospital” that you have chosen and then click it for you to see
                the
                Hospital Profile and you can also see the location and you can select it, to view the</p>
            </div>
          </div>




          <!-- AnotherSection -->

          <div class="row">
            <br>
            <div class="col col-md-2">
              <br />

              <i class="fas fa-comments" style="font-size: 80px;"></i>
            </div>
            <div class="col col-md-10">
              <br />
              <h2>Feed back</h2>
              <p>PROV: H – Locator allows its user
                to make a feedback so that they can share their thoughts and experiences about the hospital.</p>
            </div>
          </div>



          <div class="row">
            <br>
            <div class="col col-md-2">
              <br />

              <i class="fas fa-search" style="font-size: 80px;"></i>
            </div>
            <div class="col col-md-10">
              <br />
              <h2>SEARCH</h2>
              <p> PROV: H – Locator will allow you to type or voice search from the top ten diseases and it will sort
                out the best hospital for your needs. You don’t know what kind of diseases that is, do not worry PROV:
                H – Locator will provide
                also a list of the top ten diseases that you can pick, so that it will not be inconvenient for you.</p>
            </div>
          </div>

        </div>
        <!-- tHE rIGHT SECTION -->
        <div class="col col-md-6">
          <div class="row">
            <br>
            <div class="col col-md-2">
              <br />
              <i class="fas fa-star" style="font-size: 80px;"></i>
            </div>
            <div class="col col-md-10">
              <br />
              <h2>RATE</h2>
              <p>PROV: H – Locator provides a rate module because we believe that voices of the people that matters the
                most.</p>
            </div>
          </div>


        </div>

      </div>

    </div>

  </div>


</div>


<div class="containermodules">
  <br />
  <div class="centerTheTitle">
    <h2><span style="color:black;">MOBILE</span> <span style="color:#53aa53;"> FEATURES</span></h2>
  </div>

  <div class="container">
    <br />
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col col-md-2">
        <i class="fas fa-map-marker-alt" style="font-size: 30px;"></i>
      </div>
      <div class="col col-md-8">
        <h4>Hospital locator</h4>
        <div class="content">PROV: H – Locator will provide you the map for you to locate the best hospital that you
          can choose from. In doing that, you need to choose the “Hospital” that you have chosen and then click it for
          you to see the Hospital Profile and you can also see the location and you can select it, to view the map.</div>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col col-md-2">
        <i class="fas fa-comments" style="font-size: 30px;"></i>
      </div>
      <div class="col col-md-8">
        <h4>Feed back</h4>
        <p>PROV: H – Locator allows its user to make a feedback so that they can share their thoughts and experiences
          about the hospital.</p>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col col-md-2">
        <i class="fas fa-search" style="font-size: 30px;"></i>
      </div>
      <div class="col col-md-8">
        <h4>Search</h4>
        <p>PROV: H – Locator will allow you to type or voice search from the top ten diseases and it will sort out the
          best hospital for your needs. You don’t know what kind of diseases that is, do not worry PROV: H – Locator
          will provide also a list of the top ten diseases that you can pick, so that it will not be inconvenient for
          you.</p>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col col-md-2">
        <i class="fas fa-star" style="font-size: 30px;"></i>
      </div>
      <div class="col col-md-8">
        <h4>Rate</h4>
        <p> PROV: H – Locator provides a rate module because we believe that voices of the people that matters the
          most.</p>
      </div>

    </div>
    <br />
    <div class="row">
      <div class="col col-md-1"></div>
      <div class="col col-md-2">
        <i class="fas fa-calendar-check" style="font-size: 30px;"></i>
      </div>
      <div class="col col-md-8">
        <h4>Appointment</h4>
        <p> PROV: H – Locator also provides an appointment system so that it can be convenient for you.
          .</p>
      </div>

    </div>

  </div>

</div>