<!-- <mat-card [style.overflow]="'auto'" [style.height.px]="'500'">
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Date</mat-label>
      <input matInput type="date" [(ngModel)]="date" placeholder="Date">
  
    </mat-form-field>
    <br>
  
  
    <mat-form-field appearance="outline" class="fullwidth">
      <mat-label>Time</mat-label>
      <input matInput [(ngModel)]="middleName" placeholder="Middle Name" type="text" required />
  
  
  
    </mat-form-field>
  

 
  
    
  
  </mat-card>
  <p></p>
  <button mat-raised-button color="primary" class="halfwidth" (click)="onUpdate()">Update</button> <button mat-flat-button
    mat-dialog-close class="halfwidth">Cancel</button> -->