

<h1>{{HospitalObject.Name}}</h1>
<mat-tab-group (selectedTabChange)="onLinkClick($event)">
   
            <mat-tab label="Appointments">
                    <div *ngIf="choiceAppointments">
                    <table mat-table [dataSource]="data" matSort class="mat-elevation-z8">
            
                        <ng-container matColumnDef="userName">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
                            <td mat-cell *matCellDef="let element"> {{element.userName}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="message">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
                            <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                        </ng-container>
            
            
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                        </ng-container>
            
            
                        <ng-container matColumnDef="type">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
                            <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                        </ng-container>
            
            
            
            
                        <ng-container matColumnDef="date">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                            <td mat-cell *matCellDef="let element"> {{element.date}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="user">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                User ID
                            </th>
            
            
                            <td mat-cell *matCellDef="let element"> {{element.uid}} </td>
                        </ng-container>
            
                        <ng-container matColumnDef="actionsColumn">
                            <th mat-header-cell *matHeaderCellDef>
                                Tools
                            </th>
                                
                           
                            <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="editAppointment(element.key)"><mat-icon>brush</mat-icon></button> </td>
                        </ng-container>
            
                        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
            
                    <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
                </div>
                </mat-tab>
    
   

        <mat-tab label="Comments">
                <div *ngIf="choiceComments">
            <table mat-table [dataSource]="dataComments" matSort class="mat-elevation-z8">


                <ng-container matColumnDef="message">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Message </th>
                    <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                </ng-container>


                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>


                <ng-container matColumnDef="rate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Rate </th>
                    <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                </ng-container>




                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10,20,30]" showFirstLastButtons></mat-paginator>
        </div>
        </mat-tab>

        <mat-tab label="Tools">
            <ng-container *ngIf="HospitalObject">
                <mat-card class="example-card">
                    <mat-card-header>
                    
                         
                     
                      <mat-card-title>{{HospitalObject.Name}}</mat-card-title>
                      <mat-card-subtitle>{{HospitalObject.Location}}</mat-card-subtitle>
                    </mat-card-header>
                    <ng-container *ngIf="picture">
                        <img mat-card-image [src]="picture" alt="Photo of a Shiba Inu">
                    </ng-container>
                    
                    <mat-card-content>
                      <p>
                        {{HospitalObject.Details}}
                      </p>
                    </mat-card-content>
                    <mat-card-actions>
                      <button (click)="editHospital()" mat-raised-button color="primary">EDIT</button>
                     
                    </mat-card-actions>
                  </mat-card>
                </ng-container>
        </mat-tab>
</mat-tab-group>